<?xml version="1.0" encoding="UTF-8"?>
<config>
	<module>
		<visible>true</visible>
		<icon>notification</icon>
		<category>admin</category>
	</module>
	<project>
		<!-- To set the default sender email: -->
		<!-- <entry name="noreplySender">noreply@monsite.fr</entry> -->
		<!-- To set the default sender name: -->
		<!-- <entry name="defaultSenderName">noreply</entry> -->
	</project>
</config>