<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 TRANSITIONAL//EN">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title>${notification/subject}</title>
	<tal:block tal:condition="exists: notification/stylesheetUrl" tal:content="structure notification/stylesheetUrl" />
</head>
<body>
	<em tal:condition="notification/header">${structure notification/header}</em>
	<div>${structure notification/body}</div>
	<em tal:condition="notification/footer">${structure notification/footer}</em>
</body>
</html>